<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="field">
      <div class="control has-icons-left">
        <input
          class="input is-rounded"
          type="text"
          placeholder="Busca tu domicilio"
          ngx-google-places-autocomplete
          [options]="options"
          #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)"
        />
        <span class="icon is-small is-left">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
    </div>
  </div>
</div>
