<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Crear Negocio</a></li>
    <li><a class="disabled">Negocios</a></li>
    <li><a class="disabled">Editar Negocio</a></li>
  </ul>
</div>
<section class="mt-4">
  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <form [formGroup]="form">
        <div *ngFor="let control of businessRegister" class="field">
          <label class="label">{{ control.name }}</label>
          <div class="control">
            <input
              formControlName="{{ control.cod }}"
              name="{{ control.cod }}"
              class="input"
              [ngClass]="
                submmited && form.controls[control.cod]?.errors
                  ? 'is-danger'
                  : ''
              "
              [type]="
                control.cod === 'pass' || control.cod === 'passConf'
                  ? 'password'
                  : 'text'
              "
              placeholder="{{ control.name }}"
            />
          </div>
          <p
            *ngIf="submmited && form.controls[control.cod].errors?.['required']"
            class="help is-danger"
          >
            El campo es requerido
          </p>
        </div>

        <div class="control mt-5">
          <button (click)="onSubmit()" class="button is-dark is-medium">
            Registrar Restaurante
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
