<section>
  <p class="as-text-left is-size-5">Panel de Administrador</p>
  <div class="columns is-variable is-desktop mt-2">
    <div class="column">
      <div class="card has-background-primary has-text-white">
        <div class="card-header">
          <div class="card-header-title has-text-white">Numero de negocios</div>
        </div>
        <div class="card-content">
          <p class="is-size-3">56</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-warning has-text-black">
        <div class="card-header">
          <div class="card-header-title has-text-black is-uppercase">
            Numero de usuarios
          </div>
        </div>
        <div class="card-content">
          <p class="is-size-3">200</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-info has-text-white">
        <div class="card-header">
          <div class="card-header-title has-text-white is-uppercase">
            Pedidos
          </div>
        </div>
        <div class="card-content">
          <p class="is-size-3">500</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-danger has-text-white">
        <div class="card-header">
          <div class="card-header-title has-text-white">Pedidos/día</div>
        </div>
        <div class="card-content">
          <p class="is-size-3">20</p>
        </div>
      </div>
    </div>
  </div>
</section>
